<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="D:\Sarthak\VS-Code\GitHub\Sem3-MiniProject\static\Project.css"> 
    <link rel="icon" href="D:\Sarthak\VS-Code\GitHub\Sem3-MiniProject\Untitled design.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>DreamHouseMarket</title>
</head>
<body>
    <script src="Project.js"></script>
    <div class="background-img">
    <!--! Navbar -->
        <div class="navbar">
        <div class="logo">
            <a class="logoedit" href="file:///D:/Sarthak/VS-Code/GitHub/Sem3-MiniProject/templates/index.html">
            <i class="fa-solid fa-house"></i>
            DREAMHOUSEMARKET
        </a>
        </div>
        
        <button  class="loginbutton"> <a class="link" href="file:///D:/Sarthak/VS-Code/GitHub/Sem3-MiniProject/templates/LoginPage.html" target="main">
            <div class="logintext">Log in </div>
            </a>
        </button>

        <button class="signupbutton"><a class="link" href="file:///D:/Sarthak/VS-Code/GitHub/Sem3-MiniProject/templates/CreateAccount.html" target="main">
            <div class="signuptext">Signup</div>
        </a>
        </button>

        <button class="contactusbutton"><a class="link" href="#get-in-touch">
            <div class="contactustext">Contact Us</div>
        </a>
        </button>
    </div>
    <p class="centerheading">DreamHouseMarket.com</p>
    <p class="centerheading2">The Place Where Your Search Ends...</p>
    <div class="searchbar">
        <select class="searchbar2">
            <option selected>Select Location</option>
            <option>Mumbai</option>
            <option>Navi Mumbai</option>
        </select>
        <div class="search-icon">
            <button class="search_icon">
            <i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i>
            </button>
        </div>
    </div>

    <div class="choices">
        <a class="link" href="file:///D:/Sarthak/VS-Code/GitHub/Sem3-MiniProject/templates/LoginPage.html">
        <button class="buy_option option" href="#">BUY</button>
        <button class="sell_option option">SELL</button>
        <button class="rent_option option">RENT</button>
    </a>
    </div>
    </div>
    <div class="contactDetails" id="get-in-touch">
        <a class="link" href="#">
    <p class="ContactDetailstxt">Get In Touch</p>
        <div class="email_details">
        <i class="fa-solid fa-envelope" style="color: red;"></i>
        dreamhousemarket@gmail.com
        </div>
         <div class="phoneno">
        <i class="fa-solid fa-phone" style="color: red;"></i>
        00000 00000
        </div>
        <div class="address">
        <i class="fa-solid fa-location-dot" style="color: red;"></i>
        HeadOffice : New Panvel
        </div>
        </a>
    </div>


<footer>
    Copyright<i class="fa-regular fa-copyright" style="color: #ffffff;"></i> 2023
</footer>

</div>
</body>
</html>