<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="D:\Sarthak\VS-Code\GitHub\Sem3-MiniProject\static\LoginPage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Login</title>
</head>
<body>
    <div class="margin">
        <form action="/action.php">
        <div class="logintxt">Login To DreamHouseMarket</div>
            <div class="signuplink">
            Don't have an account?<a class="link" href="file:///D:/Sarthak/VS-Code/GitHub/Sem3-MiniProject/templates/CreateAccount.html">Sign Up</a>
            </div>
            <div class="signinwithemail">
                <div class="email_inputbox">
                    <input type="email" class=email_input placeholder="  Email" required>
                </div>
                <div class="password_inputbox">
                    <input type="password" class=password_input placeholder="  Password" required>
                </div>

            <div class="loginbutton">
                <button  type="submit" class="l_button">Login</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>