<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="D:\Sarthak\VS-Code\GitHub\Sem3-MiniProject\static\LoginPage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Login</title>
</head>
<body>
    <div class="margin">

        <div class="logintxt">Login To DreamHouseMarket</div>
            <div class="signuplink">
            Don't have an account?<a class="link" href="#">Sign Up</a>
            </div>
            <div class="signinwithemail">
                <div class="email_inputbox">
                    <input class=email_input placeholder="Email">
                    <input class=email_input placeholder="Password">
                </div>
            <div class="loginbutton">
                <button class="l_button">Login</button>
            </div>
        </div>

        <div class="signinoptions">
            <a class="link" href="#">
            <div class="option1_google">
                <div class="google_icon">
                    <i class="fa-brands fa-google"></i>
                </div>
                <p id="google_text">Continue With Google</p>
            </div>

            <div class="option1_google">
                <div class="google_icon">
                    <i class="fa-brands fa-facebook"></i>
                </div>
                <p id="google_text">Continue With Facebook</p>
            </div>

            <div class="option1_google">
                <div class="google_icon">
                    <i class="fa-brands fa-apple"></i>
                </div>
                <p id="google_text">Continue With Apple</p>
            </div>
        </a>
        </div>
</div>
</body>
</html>